* {
  font-family: sans-serif;
}

.container {
  background-color: #ecf0f1;
  width: calc(100vw - (100vw - 100%));
}





.chart-legend, .legend-item {
  background: rgba(255, 255, 255, 0.05) !important;
  font-family: sans-serif;
  color: white;
}

.column {
  background-color: #ecf0f1;
  width: calc(100vw - (100vw - 100%));
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-transform: uppercase;
}
