<div class="container">
  <h1>BBC SCHELDEJEUGD TEMSE</h1>
  <div
    *ngFor="let match of matches"
    class="match-record"
    [ngClass]="{'match-won': match.didWeWin, 'match-lost': match.didWeWin === false, 'match-unplayed': match.didWeWin === undefined}"
    (click)="onClick(match)">
    <div class="match-record-left-side">
      <fa-icon [icon]="['fas', match.isHome ? 'home' : 'car']" size="2x" style="padding-right: 10px;"></fa-icon>
      <fa-icon class="clock-icon" [icon]="[match.inPast ? 'fas' : 'far', 'clock']" size="2x" style="padding-right: 10px;"></fa-icon>
      <div style="display: flex; flex-direction: column">
        <p class="match-record-date-large">{{match.dateTime | date:'d MMM yyyy' }}</p>
        <p class="match-record-date-small">{{match.dateTime | date:'d/M' }}</p>
        <p style="margin-top: 1px;">{{match.dateTime | date:'HH:mm' }}</p>
      </div>
    </div>
    <div style="width: 70%; display: flex; align-items: center; justify-content: space-between">
      <div style="display: flex; flex-direction: column;">
        <p>{{match.enemyTeam}}</p>
      </div>
      <div style="width: 25%">{{match.result}}</div>
    </div>
  </div>
</div>
