<div class="top-row"></div>
<div class="teams-row">
  <team [players]="homePlayers" [isHome]="true" [teamGuid]="homeGuid"
        [teamName]="homeTeamName"></team>

  <div class="scoreboard">
    <div>
      <p style="margin: 5px;">PERIOD: {{period}}</p>
      <p style="margin: 5px;">MINUTE: {{minute}}</p>
    </div>
    <h1 style="font-size: 3em">{{score}}</h1>
  </div>

  <team [players]="awayPlayers" [isHome]="false" [teamGuid]="awayGuid"
        [teamName]="awayTeamName"></team>
</div>

<div style="width: 100vw; margin: auto auto 30px;">
  <svg-chart [data]="multi2" [colors]="colorScheme"></svg-chart>
</div>

<div *ngIf="googleMapsUrl" class="google-maps">
  <iframe width="600" height="450" style="border: 0" allowfullscreen=""
          [src]="googleMapsUrl"></iframe>
</div>
